{
    "singleQuote": false,
    "tabWidth": 4,
    "printWidth": 120,
    "semi": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react(-dom)?(/.*)?$",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^(assets|components|contexts|Hooks|lib|pages|types|utils)(/.*)?$",
        "",
        "^[./]"
    ]
}
