@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

:root{
    font-family: nexa, sans-serif;
}

.swiper-pagination {
    top: 16px !important;
    bottom: auto !important;   
}

.swiper-pagination-bullet {
    height: 10px;
    width: 90px;
    border-radius: 15%;
}
