/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import "tailwindcss";
@config "../../tailwind.config.js";
@import "swiper/css";
@import "swiper/css/pagination";

:root {
    --ion-font-family: "Nexa XBold";

    --ion-color-primary: #181729;
    --ion-color-primary-rgb: 24, 23, 41;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #151424;
    --ion-color-primary-tint: #2f2e3e;
    --ion-color-dark: #000000; /* pure black */
    --ion-color-dark-contrast: #ffffff; /* text color */
    --ion-background-color: #f5f5f5;
    --ion-font-family: "Nexa XBold";
    --ion-font-size: 16px;
    --ion-font-weight: 400;
    --ion-font-style: normal;
    --ion-font-color: #000000;
    --ion-font-color-rgb: 0, 0, 0;
    --ion-font-color-contrast: #ffffff;
    --ion-font-color-contrast-rgb: 255, 255, 255;
}

@font-face {
    font-family: "Nexa XBold";
    font-style: normal;
    font-weight: 800; /* Use a value like 800 or 900 for XBold */
    src: url("../assets/fonts/Nexa_XBold.woff2") format("woff2");
    font-display: swap; /* This prevents text from being invisible while the font is loading */
}

ion-button {
    text-transform: none !important;
}

ion-toolbar {
    --min-height: 100px; /* increase header height */
}

ion-input.custom {
    --placeholder-opacity: 0.4;
}

.swiper-pagination {
    top: 16px !important;
    bottom: auto !important;
}

.swiper-pagination-bullet {
    height: 10px;
    width: 90px;
    border-radius: 15%;
    background: var(--ion-color-primary);
}

ion-toolbar {
    --min-height: 100px;
}

ion-input.custom {
    --placeholder-opacity: 0.4;
}

ion-toolbar {
    --background: #19422d;
    --color: white;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /* This is the magic line to make the background clip to the radius */
    overflow: hidden;

    --min-height: 80px;
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
}
